:root{
    --rosadoClaro: #FFD2CC;
    --rosadoOscuro: #FFB3AE;
    --rosadoSombra: #FFABA2;
    --Blanco: #ffffff;
    --Gris: #E9E9E9;
    --Degrade: radial-gradient(#FFD2CC,#F298A1);  
}

@font-face{
    font-family: "Gilroy Light";
    src: url(../fonts/Gilroy-Light.otf),
    url(../fonts/Gilroy-Light.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy bold";
    src: url(../fonts/Gilroy-ExtraBold.otf),
    url(../fonts/Gilroy-ExtraBold.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "learning_curve";
    src: url(../fonts/learning_curve_bold_ot_ps.otf) ,
    url(../fonts/learning_curve_bold_ot_ps.otf);
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: var(--Gris);
    
}
/* Index */
#container{
    width: 750px;
    margin:0 auto;
    border: 5px solid white;
    background-image: url(../images/Fondo-figura.png) ;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 13px 17px -5px rgba(150,150,150,1);
    margin-top: 4%;
  
}


.titulo{
    font-family: "learning_curve";
}
.titulo2{
    font-family: "Gilroy Light";
}

.header{
    padding: 34px ;
    font-family: "Gilroy Light";
    color: var(--Blanco) !important;
    position: absolute;
    cursor: pointer;
}

.espacio{
    margin-right: 100px;
    font-size: 12px;
    font-family: "Gilroy Light";
    color: var(--Blanco) !important;
    text-decoration: none;
}
.espacio2{
    font-family: "Gilroy bold";
    margin-right: 80px;
    margin-left: 0px;
    color: var(--Blanco) !important;
    text-decoration: none;
}
.Botones{
    text-align: center;
    position: absolute;
    margin-left: 20%;
    margin-top: -169px;
}
.btn-principal{
    font-family: "Gilroy bold";
    background: transparent;
    border: 2px solid black;
    width: 105px;
    margin-right: 5px;
    padding: 4px;
    cursor: pointer;
}

.btn-principal2{
    color: var(--rosadoOscuro);
    background: var(--Blanco);
    border: 2px solid white;
    width: 105px;
    padding: 4px;
    cursor: pointer;
}
.footer{
    position: absolute;  
    margin-top: -71px;
}
.iconos{
    margin-left: 272px;
}
.boton-trans{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    background-color: #ffffff59;
}
.boton-trans2{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -44px;
    background-color: #ffffff61;
    text-align: right;
    margin-left: 148.8%;
}

  ul.menu-principal li {
        display: inline;
  }

  /*contact */
#container2{
    width: 750px;
    height: 500px;
    margin:0 auto;
    border: 5px solid white;
    background-image: url(../images/FondoContact.png) ;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 13px 17px -5px rgba(150,150,150,1);
    margin-top: 4%;
}
.texto{
    text-align: center;
    position: absolute;
    margin-top: 4%;
    margin-left: 13%;
}

.name{
    font-family: "Gilroy bold";
    color: var(--Blanco);
    font-size: 50px;
}
.position{
    font-family: "Gilroy Light";
}
.company{
    font-family: "Gilroy bold";
    color: var(--Blanco);
}

/* Container Services */
#container3{
    width: 300px;
    height: 290px;
    margin: 48px 53px 35px 10px;
    background-size: cover;
    box-shadow: 1px 13px 17px -5px rgba(150,150,150,1);
    border: 1px solid #FFD2CC;
}

.Welcome{
    font-family: "learning_curve";
    color: var(--Blanco);
    font-size: 40px;
    margin-top: 40px;
    text-shadow: 0.1em 0.1em 0.2em #FFB3AE;
}
.Tup{
    font-family: "Gilroy Light";
    margin-top: 153px;
    font-size: 10px;
}
.have{
    font-family: "Gilroy bold";
    color: var(--Blanco);
    margin-top: 55px;
}
.GET{
    font-family: "Gilroy bold";
    color: var(--Blanco);
    text-align: center;
}
.cod{
    font-family: "Gilroy Light";
    text-align: center;
    border: 1px dotted black;
    width: 125px;
    margin-left: 88px;
}
.Up{
    font-family: "Gilroy bold";
    margin: 220px 46px;
    font-size: 28px;
}

.tup{
    font-family: "Gilroy Light";
    color: var(--Blanco);
    margin: -207px 100px;
    font-size: 10px;
}



/* container HOME */
#container4{
    width: 750px;
    height: 500px;
    margin:0 auto;
    border: 5px solid black;
    background-image: url(../images/home.png) ;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 13px 17px -5px rgba(150,150,150,1);
    margin-top: 4%;
}

.header2{
    padding: 20px ;
    font-family: "Gilroy Light";
    color: black;
    position: absolute;
    cursor: pointer;
}
.espacio3{
    margin-right: 61px;
    font-size: 12px;
    font-family: "Gilroy Light";
    color: black!important;
    text-decoration: none;
}
.espacio4{
    font-family: "Gilroy bold";
    margin-right: 200px;
    margin-left: 0px;
    color: black !important;
    text-decoration: none;
}
.parrafo{
    font-family: "Gilroy Light";
    font-size: 15px;
    text-align: end;
    margin-top: 320px;
    margin-left: 34%;
    position: absolute;
}
.Botones2{
    text-align: center;
    position: absolute;
    margin-top: 28%;
    margin-left: 37%;
}
.footer2{
    position: absolute;  
    margin-top: 32%;
}
.iconos2{
    margin-left: 525px;
}

.boton-trans3{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -35px;
    background-color: #ffffff61;
    text-align: right;
    margin-left: 103.2%;
}

/* container blog */
#container5{
    width: 750px;
    height: 250px;
    margin:0 auto;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 13px 17px -5px rgba(150,150,150,1);
    border: 1px solid #FFD2CC;
    margin-top: 4%;
}

.Imagen{
    width: 650px;
    margin-top: -78px;
}

.btn-blog{
    font-family: "Gilroy Light";
    color: var(--Blanco);
    background: transparent;
    position: absolute;
    margin: 180px 0px 0px -400px;
    padding: 7px;
    width: 140px;
    border: 1px solid white;
    cursor: pointer;
}

.date{
    font-family: "Gilroy bold";
    margin: -345px 0px 0px 50px;
    font-size: 25px;
    color: var(--Blanco);
}

.Imagen2{
    width: 680px;
    margin: -82px 0px 0px 25%;
}

.iconos3{
    margin: -73px 0px 0px 510px;
}